.modal_bg_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 8px;
  background-color: white;
  color: black;

  width: 400px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal_header > h1 {
  align-self: flex-start;
  margin-bottom: 16px;
  font-size: 20px;
}

.modal_header > button {
  align-self: flex-start;
  margin-bottom: 12px;
  color: gray;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.modal_header > button:hover {
  background: lightgray;
  border-radius: 8px;
  color: white;
}

.modal_contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.input_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
  margin: 2px 0;
}

.input_container > input[type="file"]::file-selector-button {
  background: none;
  color: black;
  outline: none;
  border-width: 0px 1px 0 0;
  border-style: solid;

  border-color: lightgray;
  height: 100%;
}

.input_container > input[type="file"]::file-selector-button:hover {
  background: lightblue;
  color: white;
}

.input_label {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.input {
  flex: 4;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  height: 24px;
  color: black;
  outline: none;
}

.modal_footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: fit-content;
  height: 24px;
}

.msg {
  font-size: 14px;
  color: dodgerblue;
}
