.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100dvh);
}

.leftSectionWrapper {
  --leftSection-w: 275px;
  width: var(--leftSection-w);
  position: relative;
}

.leftSection {
  width: var(--leftSection-w);
  height: 100dvh;
  background-color: red;
  color: black;
}

.leftSectionFixed {
  background: white;
  position: fixed;
  width: var(--leftSection-w);
  height: 50dvh;
  border: 1px dashed teal;
  top: 0px;
  padding: 0 8px;
  margin: 5px 0px;
}

.rightSectionWrapper {
  height: 100dvh;
}

.rightSectionInner {
  width: 990px;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;

  height: 100dvh;
}

.rightSection {
  width: 350px;
}

.search {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 15px;
  margin: 5px 10px;
  background: white;
  width: 330px;
  height: fit-content;
  position: fixed;
  top: 0;
}

.search > input {
  height: 40px;
  padding-left: 50px;
  font-size: 16px;
}

.search::before {
  content: "검색";
  font-size: 14px;
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translate(-0%, calc(-50% + 2px));
  color: dodgerblue;
}

.logo {
  display: inline-block;
  width: 100%;
  border: 1px solid purple;
  cursor: pointer;
}

.logo_container {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container:hover {
  background: lightgray;
  border: dodgerblue;
}
