.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100dvh);
  position: relative;
  color: black;
}

.leftSectionWrapper {
  --leftSection-w: 275px;
  width: var(--leftSection-w);
  position: relative;
}

.leftSection {
  width: var(--leftSection-w);
  height: 100dvh;
}

.leftSectionFixed {
  --padding-v: 8px;
  background: white;
  position: fixed;
  width: var(--leftSection-w);
  height: calc(100dvh - var(--padding-v));
  border: 1px dashed teal;
  top: 0px;
  padding: 0 var(--padding-v) var(--padding-v);
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 1fr 64px;
}

.rightSectionWrapper {
  height: 100dvh;
}

.rightSectionInner {
  width: 990px;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;

  height: 100dvh;
}

.rightSection {
  width: 350px;
}

.logo {
  display: inline-block;
  width: 100%;
  border: 1px solid purple;
  cursor: pointer;
}

.logo_container {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container:hover {
  background: lightgray;
  border: dodgerblue;
}
