.container {
  padding: 15px;
  border-radius: 15px;
  margin: 5px 10px;
  background: white;
  width: 330px;
  height: fit-content;
}

.filter {
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
}

.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox_container label {
  flex: 1;
}

.checkbox_container input[type="radio"] {
  width: auto;
}
